@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&display=swap');

.paragraph {
	font-family: 'Alegreya';
	font-weight: normal;
	font-size: 22px;

	@media screen and (max-width: 1020px) and (min-width: 768px) {
		font-size: 16px;
	}

	@media screen and (max-width: 767px) {
		font-size: 12px;
	}
}
