.wrapper {
	display: flex;
	justify-content: flex-end;
	font-family: 'Roboto', sans-serif;
	font-size: 46px;
	font-weight: bold;

	@media screen and (max-width: 1020px) and (min-width: 768px) {
		font-size: 38px;
	}

	@media screen and (max-width: 767px) {
		font-size: 32px;
	}
}

.languageSelector {
	display: flex;
	height: 30px;
}
